<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<head>
	<meta charset="utf-8" />
	<title>tutuweb</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<link href="http://www.tutuweb.cn/style/login/bootstrap.minn.css" rel="stylesheet" />
	<link href="http://www.tutuweb.cn/style/login/bootstrap-responsive.min.css" rel="stylesheet" />
	<link href="http://www.tutuweb.cn/style/login/font-awesome.css" rel="stylesheet" />
	<link href="http://www.tutuweb.cn/style/login/style.css" rel="stylesheet" />
	<link href="http://www.tutuweb.cn/style/login/style-responsive.css" rel="stylesheet" />
	<link href="http://www.tutuweb.cn/style/login/style-default.css" rel="stylesheet" id="style_color" />
</head>
<body class="lock">
<div class="lock-header">
		<img class="center" alt="logo" src="http://www.tutuweb.cn/style/login/logo.png">
</div>

<form action="http://www.tutuweb.cn/index.php/admin_login/login_in" method="POST" id="login">
<div class="login-wrap">
	<div class="metro single-size red">
		<div class="input-append lock-input">
			<span>
			    <img src="http://www.tutuweb.cn/index.php/admin_login/code" >
			</span>
			<span>
				<input type="text" size="4" name="captcha" placeholder="验证码">
			</span>
	</div>
	</div>
	<div class="metro double-size green">
			<div class="input-append lock-input">
				<input type="text" name="username" placeholder="用户名">
			</div>
	</div>
	<div class="metro double-size yellow">
			<div class="input-append lock-input">
				<input type="password" name="passwd" placeholder="密码">
			</div>
	</div>
	<div class="metro single-size terques login">
			<button type="submit" class="btn login-btn">
				登录
				<i class=" icon-long-arrow-right"></i>
			</button>
	</div>
	</form>



	<div class="metro double-size navy-blue ">
		<a href="index.html" class="social-link">
			<span>QQ 登录</span>
		</a>
	</div>
	<div class="metro single-size deep-red">
		<a href="index.html" class="social-link">
			<i class="icon-weibo"></i>
			<span>微博 登录</span>
		</a>
	</div>
	<div class="metro double-size blue">
		<a href="index.html" class="social-link">
			<i class="icon-twitter-sign"></i>
			<span>Twitter 登录</span>
		</a>
	</div>
	<div class="metro single-size purple">
		<a href="index.html" class="social-link">

		</a>
	</div>
	<div class="login-footer">
		<div class="remember-hint pull-left">
			<input type="checkbox" id=""> 记住密码
		</div>
		<div class="forgot-hint pull-right">
			<a id="forget-password" class="" href="javascript:;">忘记密码?</a>
		</div>
	</div>
</div>
</body>
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
</html>
