
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://www.tutuweb.cn/style/index/bs/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://www.tutuweb.cn/style/index/css/demo.css">
    <!--
    Accord Template
    http://www.templatemo.com/tm-478-accord
    -->
    <title>董志东博客::<?php echo $article[0]['title'] ?></title>

</head>
<?php
$Parsedown = new Parsedown();
$html = $Parsedown->text($article[0]['content']);
?>
<body class="contact-page">
    <div class="container">
        <div class="row">
            <div class="main-page">
                <div class="content-main contact-content">
                    <div class="contact-content-upper">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="gallery_title">
                                    <h2><?php echo $article[0]['title'] ?></h2>
                                    <em>发表于 <?php echo date('Y-m-d',$article[0]['time']) ?>分类：<?php echo $article[0]['cname'] ?></em>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 contact_text">
                            <?php echo $html ?>
                        </div>
                    </div> <!-- .contact-content -->
                </div>
            </div>
          <?php $this->load->view('index/foot.html') ?>
        </div>
    <!-- JavaScript -->
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
