<aside class="main-navigation">
    <div class="main-menu">

        <div class="menu-container">
            <div class="block-keep-ratio block-keep-ratio-1-1 block-keep-ratio-md-2-1 block-width-full gallery">
                    <a href="http://www.tutuweb.cn/index.php/m" class="block-keep-ratio__content  main-menu-link">
                            <span class="main-menu-link-img">
                            <img src="http://115.159.186.241/style/index/images/profile.jpg" class="img-circle">
                            </span>
                            <span class="main-menu-link-text">
                                <b>PHP开发工作者</b>
                            </span>

                </a>
            </div>
        </div>
        <div class="menu-container">
            <div class="block-keep-ratio  block-keep-ratio-1-1  block-width-half  pull-left  about-main">
                <a href="http://www.tutuweb.cn/index.php" class="main-menu-link about block-keep-ratio__content flexbox-center">
                    <b><?php echo $category[0]['cname'] ?></b>
                </a>
            </div>
            <div class="block-keep-ratio  block-keep-ratio-1-1  block-width-half  pull-right  contact-main">
                <a href="http://tutuweb.cn/index.php/c/<?php echo $category[1]['cid'] ?>" class="main-menu-link contact block-keep-ratio__content flexbox-center">
                    <b><?php echo $category[1]['cname'] ?></b>
                </a>
            </div>
        </div>
        <div class="menu-container">
            <div class="block-keep-ratio  block-keep-ratio-1-1  block-width-half  pull-left  about-main">
                <a href="http://www.tutuweb.cn/index.php/c/<?php echo $category[2]['cid'] ?>" class="main-menu-link aboutt block-keep-ratio__content flexbox-center">
                    <b><?php echo $category[2]['cname'] ?></b>
                </a>
            </div>
            <div class="block-keep-ratio  block-keep-ratio-1-1  block-width-half  pull-right  contact-main">
                <a href="http://www.tutuweb.cn/index.php/c/<?php echo $category[3]['cid'] ?>" class="main-menu-link contactt block-keep-ratio__content flexbox-center">
                    <b><?php echo $category[3]['cname'] ?></b>
                </a>
            </div>
        </div>
        <div class="menu-container">
            <div class="block-keep-ratio  block-keep-ratio-1-1  block-width-half  pull-left  about-main">
                <a href="http://www.tutuweb.cn/index.php/c/<?php echo $category[4]['cid'] ?>" class="main-menu-link abouttt block-keep-ratio__content flexbox-center">
                    <b><?php echo $category[4]['cname'] ?></b>
                </a>
            </div>
            <div class="block-keep-ratio  block-keep-ratio-1-1  block-width-half  pull-right  contact-main">
                <a href="http://www.tutuweb.cn/index.php/c/<?php echo $category[5]['cid'] ?>" class="main-menu-link contacttt block-keep-ratio__content flexbox-center">
                    <b><?php echo $category[5]['cname'] ?></b>
                </a>
            </div>
        </div>

        <div class="menu-container">
            <div class="block-keep-ratio block-keep-ratio-2-1 block-width-full home">
                <a class="block-keep-ratio__content flexbox-center">
                <form action="http://www.tutuweb.cn/index.php/s" method="post">
                    <input type="text" size="10" name ="seo">
                    <button type="submit">搜索</button>
                </form>
                </a>
            </div>
        </div>
    </div>
</aside>
