<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://www.tutuweb.cn/style/index/bs/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://www.tutuweb.cn/style/index/css/demo.css">
    <title>董志东博客::关于</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="main-page">
            <?php $this->load->view('index/head.html') ?>
            <div class="content-main">
                <div class="row margin-b-30">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="banner-main-menu">
                            <div class="banner-main-menu-text">
                                <div class="heading">
                                    <h1>ABOUT</h1>
                                </div>
                                <div class="heading">
                                    <p class="text-uppercase">关于作者</p>
                                </div>
                                <div class="desc">
                                    <p>HELLO WORLD 程序猿一枚 有梦想爱学习</p>
                                    <p>Email:1006991905@qq.com</p>
                                 </div>
                                <div class="heading">
                                    <p class="text-uppercase">关于博客</p>
                                </div>
                                <div class="desc">
                                    <p>本博客基于 ci3.1+bootstrap3.37+markdown3.0 </p>
                                </div>

                                <div class="heading">
                                    <p class="text-uppercase">转载某位大神写的诗</p>
                                </div>
                                <div class="desc">
                                    <h6>我不是诗人，所以，只能够把爱你写进程序，</h6>
                                    <h6>当作不可解的密码，作为我一个人知道的秘密。</h6>
                                    <h6>我以为你是我的唯一，过了很久才发现，你不是我独占的服务器，</h6>
                                    <h6>我可以传递，却什么都不能够取回，大师说，此算法不可逆。</h6>
                                    <h6>我想析构我自己，却没有多少勇气，只能够注释掉关于你的记忆，</h6>
                                    <h6>想寻找你的信息，突然发现，你已经不在我的域。</h6>
                                    <h6>我想重载爱的定义，把你我封装在一起，</h6>
                                    <h6>在我的名字空间里，再也找不到你。</h6>
                                    <h6>爱情的管道，已经关闭，</h6>
                                    <h6>我有的，只剩下从爱继承的颓废。</h6>
                                    <h6>爱的模板，已经解不开我们的僵局，</h6>
                                    <h6>我已经成为异常的容器，无法容下与你无关的东西。</h6>
                                    <h6>我以为我们该是一个联合体，原来只是松散的内聚，</h6>
                                    <h6>直到分开很久，你才返回操作失败的信息。</h6>
                                    <h6>你告诉我，我只是你的友元类</h6>
                                    <h6>独自一个人难醉，我慢慢明白，我们不是来自相同的基类。</h6>
                                    <h6>你很久前抛出的异常，我笨得不能够体会，</h6>
                                    <h6>你说我不是你的适配器，你不需要一个通用程序。</h6>
                                    <h6>我是你堆栈的顶部，你要弹出我选择原来的奇遇。</h6>
                                    <h6>多希望可以写出一个函数，拷贝从前的你。</h6>
                                    <h6>可是等了很久，还是没有奇迹，</h6>
                                    <h6> 只能够继续开一个心的端口，监听你的信息。</h6>
                                    <h6>我的悲伤与快乐，都装进黑盒里，</h6>
                                    <h6>不需要让你知道，我仍然爱你。</h6>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- .content-main -->
        </div>
    </div>
    <?php $this->load->view('index/foot.html') ?>
</div>
<!-- JavaScript -->
<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
